.discount{
  display: flex;
  margin-top: 183px;
  width: 100%;
  background-color: #7f7770;
  gap: 150px;
  align-items: center;
}
.discount__title{
  max-width: 600px;
  color: #ffffff;
  font-size: 58px;
}
.discount__img{
  height: 1000px;
}
.discount__text{
  color: #ffffff;
  font-size: 29px;
  font-weight: 400;
  line-height: 23.63px;
  font-style: normal;
  line-height: initial;
  max-width: 550px;
  padding-bottom: 53px;
}
.discount a{
  display: inline-block;
  padding: 26px 60px;
  background-color: #e2a355;
  color: #ffffff;
  font-size: 29px;
  font-weight: 700;
  border-radius: 50px;
  letter-spacing: 11px;
}