footer {
  background: #7f7770;
  width: 101%;
}
footer .container {
  margin-top: 100px;
  padding-top: 250px;
  display: flex;
  color: #fff;
}
footer h5 {
  font-size: 32px;
  font-weight: 400;
  padding-bottom: 37px;
}
footer p {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  max-width: none;
  font-style: normal;
  margin-top: 0px;
}
.title__social {
  margin-top: 35px;
  margin-bottom: 300px;
}
footer img {
  padding-right: 16px;
}
.footer__about a, .footer__services a, .footer__other a {
  display: inline-block;
  padding-bottom: 25px;
  font-size: 20px;
  color: #fff;
}
@media (max-width: $breakpoint1450) {
  footer h5 {
    margin-right: 10px;
  }
  .footer__about a, .footer__services a, .footer__other a {
    margin-right: 10px;
  }
}
@media (max-width: $breakpoint992) {
  footer h5 {
    font-size: 18px;
    margin-right: 10px;
  }
  .container {
    max-width: 750px;
  }
  footer p {
    font-size: 18px;
  }
  .title__social {
    margin-bottom: 200px;
  }
  footer .container {
    padding-top: 150px;
  }
  .footer__about a, .footer__services a, .footer__other a {
    font-size: 16px;
    max-width: 75px;
    margin-right: 10px;
  }
}
@media (max-width: $breakpoint768) {
  footer h5 {
    font-size: 15px;
    margin-right: 10px;
  }
  .container {
    max-width: 700px;
  }
  footer p {
    font-size: 13px;
  }
  .title__social {
    margin-bottom: 130px;
  }
  .title__social img {
    max-width: 45px;
  }
  footer .container {
    padding-top: 150px;
  }
  .footer__about a, .footer__services a, .footer__other a {
    font-size: 13px;
    max-width: 79px;
  }
}
@media (max-width: $breakpoint480) {
  .footer__title p {
    margin: 0 10px 0 0;
    max-width: 465px;
  }
  footer h5 {
    font-size: 13px;
  }
}