.hiking {
  background: url("../img/hiking.jpg") no-repeat;
  background-size: cover;
  text-align: center;
}
.hiking  h2 {
  padding-top: 475px;
  color: #ffffff;
  font-size: 58px;
  font-weight: 400;
}
.hiking p{
  margin: 41px auto 0;
  max-width: 925px;
  color: #dbdbdb;
  font-size: 29px;
  font-weight: 400;
  padding-top: 50px;
  padding-bottom: 400px;
}