.hiking {
  background: url("../img/hiking2.jpg") no-repeat;
  background-size: cover;
  text-align: center;
  width: 101%;
}
.hiking h2 {
  padding-top: 475px;
  color: #ffffff;
  font-size: 58px;
  font-weight: 400;
}
.hiking__txt {
  margin: 41px auto 0;
  max-width: 925px;
  color: #dbdbdb;
  font-size: 29px;
  font-weight: 400;
  padding-top: 50px;
  padding-bottom: 400px;
  font-style: normal;
}
.txt {
  margin: 41px auto 0;
  max-width: 925px;
  color: #dbdbdb;
  font-size: 29px;
  font-weight: 400;
  font-style: normal;
}
.hiking__wrap {
  margin-top: 84px;
  position: relative;
  padding-bottom: 231px;
}
.hiking__text {
  padding-top: 0px;
}
input {
  padding: 21px 30px 22px 36px;
  border-radius: 50px;
  width: 650px;
  height: 63px;
}
.hiking__wrap button {
  background-color: #54524f;
  font-size: 25px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  padding: 18px 42px;
  border-radius: 50px;
  position: absolute;
  right: 245px;
}
@media (max-width: $breakpoint1450) {
  .hiking h2 {
    padding-top: 250px;
    font-size: 40px;
  }
  .hiking__txt {
    padding-top: 0px;
    padding-bottom: 200px;
  }
  .txt {
    font-size: 20px;
    max-width: 625px;
  }
  input {
    width: 450px;
  }
  .hiking__wrap button{
    font-weight: 100;
    font-size: 23px;
    right: 200px;
  }
}
@media (max-width: $breakpoint992) {
  .hiking h2 {
    padding-top: 200px;
    font-size: 35px;
  }
  .hiking__txt {
    padding-top: 0px;
    padding-bottom: 150px;
  }
  .txt {
    font-size: 15px;
    max-width: 599px;
  }
  input {
    width: 400px;
    height: 40px;
    font-size: 15px;
  }
  .hiking__wrap button{
    font-weight: 100;
    font-size: 10px;
    right: 145px;
  }
}
@media (max-width: $breakpoint768) {
  .hiking h2 {
    padding-top: 200px;
    font-size: 35px;
  }
  .hiking__txt {
    padding-top: 0px;
    padding-bottom: 150px;
  }
  .txt {
    font-size: 15px;
    max-width: 599px;
  }
  input {
    width: 300px;
    height: 40px;
    font-size: 15px;
  }
  .hiking__wrap button{
    font-weight: 100;
    font-size: 10px;
    right: 100px;
  }
}
@media (max-width: $breakpoint480) {
  .hiking__wrap button{
    padding: 10px 25px;
    right: 50px;
  }
  input{
    width: 200px;
    padding: 0px;
    height: 30px;
  }
}

