.lorem .container {
  display: flex;
}
.lorem__wrap h3 {
  margin-top: 170px;
  color: #deb37e;
  font-size: 33px;
  font-weight: 700;
  line-height: 33.24px;
  margin-bottom: 0px;
}
.lorem__wrap p {
  color: #333d42;
  font-size: 19px;
  font-weight: 400;
  line-height: 24.93px;
  font-style: normal;
}
@media (max-width: $breakpoint1450) {
  .lorem__wrap h3 {
    margin-top: 0px;
    font-weight: 100;
    font-size: 27px;
  }
  .lorem__wrap p {
    letter-spacing: 0;
    font-size: 13px;
  }
}
@media (max-width: $breakpoint768) {
  .lorem__wrap h3{
    max-width: 165px;
  }
}
@media (max-width: $breakpoint480) {
  .lorem .container{
    justify-content: center;
  }
  .lorem__wrap h3 {
    font-size: 20px;
    max-width: 128px;
  }
  .lorem__wrap p {
    line-height: 18px;
    max-width: 80px;
    margin: 40px 60px 0 0;
  }
}